<h3>Owned Cards</h3>

<%@owned.each do |y|%>
    <%if @ownership.find_by(card_id: y.id).owned?%>
        <a href="/cards/<%=y.id%>"><%= image_tag(y.image.thumb.url) %></a>
    <%end%>
<%end%>

<%a = @ownership.where(status: "owned")%>

    <%=a.count%>

<br><a href="/">Back</a>
